{% extends "Trollo/base.html" %}

{% block head %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">

        {% if user.is_authenticated %}
        <h2>Welcome back <span class="username">{{ user.username }}</span></h2>
        <form action="{% url 'boards' %}">
            <button type="submit">See boards</button>
        </form>
        {% else %}
            {% if request.resolver_match.url_name != 'signup' %}
                {% include 'Trollo/login.html' %}
            {% else %}
                {% include 'Trollo/signup.html' %}
            {% endif %}
        {% endif %}

    </div>
    <div class="col-4"></div>
</div>

{% endblock %}