@import url("https://fonts.googleapis.com/css?family=Bree+Serif&subset=latin-ext");
@import 'w3-normalize.css';
.board-container {
  color: #000;
  background-color: #00bbd3;
}

footer {
  color: #000;
  background-color: #62eeff;
}

header {
  color: #000;
  background-color: #008ba2;
}

button {
  color: #fff;
  background-color: #d32f2f;
}

button:hover {
  color: #000;
  background-color: #ff6659;
}

button:disabled {
  color: #000;
  background-color: grey;
}

button.btn-flat {
  color: #9a0007;
  background-color: transparent;
}

.row::after, .row-btn::after {
  content: "";
  display: table;
  clear: both;
}

.row-btn > * {
  vertical-align: middle;
  padding: 2px 8px;
}
/* Main cointer for columns */
.row {
  margin-bottom: 10px;
}
.row > * {
  padding: 0.1em 8px;
}
/* For mobile phones: */
[class*=col-] {
  display: block;
  width: 100%;
}
@media only screen and (min-width: 601px) {
  [class*=col-] {
    float: left;
  }
}

@media only screen and (min-width: 601px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 993px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 20px 10px;
  border: 1px solid #888;
  width: 300px;
}
.modal-content label {
  font-size: 0.9em;
}
.modal-content input, .modal-content select {
  width: 100%;
  border: none;
  border-bottom: 1px solid #9a0007;
  outline: none;
}
.modal-content button {
  margin: 12px 8px 8px;
  float: right;
}
.modal-content .input-caption {
  display: block;
  font-size: 0.8em;
  color: #d32f2f;
}

* {
  box-sizing: border-box;
}

html {
  min-width: 300px;
}

body {
  background-color: #f5f5f6;
  font-family: "Bree Serif", "serif";
  font-size: 12pt;
  line-height: 1.5;
}

.wrapper {
  padding: 0 5%;
}

header {
  padding: 8px 18px;
  text-align: center;
}
header img {
  vertical-align: middle;
}

h1 {
  display: inline;
}

h2 {
  margin: 0;
}

#loading {
  text-align: center;
}

.board-container {
  width: 100%;
  margin: 20px 0;
  padding: 6px 12px;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.board-container .board-bar {
  padding-bottom: 8px;
  cursor: pointer;
}
.board-container .board-bar * {
  vertical-align: middle;
}
.board-container .board-bar h2 {
  display: inline;
}
.board-container .board-bar i.arrow {
  float: right;
  transition: 0.3s;
}
.board-container .board-details {
  display: block;
  overflow: hidden;
  transition: 0.3s ease-out;
  height: auto;
}

.open {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.open i.arrow {
  transform: rotate(180deg);
}
.open button.btn-hidden {
  display: inline;
  opacity: 1;
}

.list-title {
  margin: 6px 0;
  padding: 4px;
  text-align: center;
  background-color: #f5f5f6;
  border: 1px solid #9a0007;
  border-radius: 2px;
}

.cards-container {
  padding: 1px;
}
.cards-container .card {
  display: block;
  margin: 4px auto;
  padding: 4px;
  background-color: #62eeff;
  border-radius: 4px;
}
.cards-container .card textarea {
  width: 100%;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

.dragarea {
  padding: 0;
  border: 1px dashed #d32f2f;
  border-radius: 4px;
}

.over-drop {
  border: 2px solid #9a0007;
}

button {
  border: none;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
}
button:disabled {
  cursor: default;
}
button.btn-add {
  float: right;
  position: relative;
  top: 12px;
}
button.btn-hidden {
  display: none;
  margin-left: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
button.btn-flat {
  outline: none;
  font-size: 0.9em;
}
button.btn-submit {
  display: none;
}

footer {
  margin-top: 24px;
  font-size: 0.8em;
  text-align: center;
  padding: 4px 8px;
}
footer .copyright {
  margin: 0;
}
