@import url("https://fonts.googleapis.com/css?family=Bree+Serif&subset=latin-ext");
@import 'w3-normalize.css';
.board-container {
  color: #000;
  background-color: #00bbd3;
}

footer {
  color: #000;
  background-color: #62eeff;
}

header {
  color: #000;
  background-color: #008ba2;
}

button {
  color: #fff;
  background-color: #d32f2f;
}

button:hover {
  color: #000;
  background-color: #ff6659;
}

/* Main cointer for columns */
.row {
  margin-bottom: 10px;
}
.row > * {
  padding: 0.1em 8px;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* For mobile phones: */
[class*=col-] {
  display: block;
  width: 100%;
}
@media only screen and (min-width: 601px) {
  [class*=col-] {
    float: left;
  }
}

@media only screen and (min-width: 601px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 993px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}
* {
  box-sizing: border-box;
}

html {
  min-width: 300px;
}

body {
  background-color: #f5f5f6;
  font-family: "Bree Serif", "serif";
  font-size: 12pt;
  line-height: 1.5;
}

.wrapper {
  padding: 0 5%;
}

header {
  padding: 8px 18px;
  text-align: center;
}
header img {
  vertical-align: middle;
}

h1 {
  display: inline;
}

h2 {
  margin: 0;
}

#loading {
  text-align: center;
}

.board-container {
  width: 100%;
  margin: 8px 0;
  padding: 6px 12px;
}
.board-container .board-bar {
  padding-bottom: 8px;
  cursor: pointer;
}
.board-container .board-bar * {
  display: inline;
  vertical-align: middle;
}
.board-container .board-bar i.arrow {
  float: right;
  transition: 0.2s;
}
.board-container .board-details {
  display: block;
  overflow: hidden;
  transition: 0.2s ease-out;
  height: auto;
}

.open i.arrow {
  transform: rotate(180deg);
}
.open button.btn-hidden {
  display: inline;
  opacity: 1;
}

.status-title {
  margin: 6px 0;
  padding: 4px;
  text-align: center;
  background-color: #f5f5f6;
  border: 1px solid #9a0007;
}

.card {
  margin: 4px 0;
  padding: 6px;
  background-color: #62eeff;
  border-radius: 4px;
}

button {
  border: none;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
button.btn-add {
  float: right;
  position: relative;
  top: 12px;
}
button.btn-hidden {
  display: none;
  margin-left: 20px;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  z-index: 50;
}

footer {
  margin-top: 24px;
  font-size: 0.8em;
  text-align: center;
  padding: 4px 8px;
}
footer .copyright {
  margin: 0;
}
