$bg: #f5f5f6;
$p0: #00bbd3;
$pl: #62eeff;
$pd: #008ba2;
$s0: #d32f2f;
$sl: #ff6659;
$sd: #9a0007;

%primary {color: #000; background-color: $p0;}
%primary-light {color: #000; background-color: $pl;}
%primary-dark {color: #000; background-color: $pd;}
%secondary {color: #fff; background-color: $s0;}
%secondary-light {color: #000; background-color: $sl;}
%secondary-dark {color: #fff; background-color: $sd;}
%disabled {color: #000; background-color: grey;}
%flat {color: $sd; background-color: transparent;}
