@import url('https://fonts.googleapis.com/css?family=Bree+Serif&subset=latin-ext');
@import 'w3-normalize.css';
@import 'color-theme';
@import 'w3-columns';
@import 'modal';

* {
    box-sizing: border-box;
}

html {
    min-width: 300px;
}

body {
    background-color: $bg;
    font: {
        family: 'Bree Serif', 'serif';
        size: 12pt;
    }
    line-height: 1.5;
}

.wrapper {
    padding: 0 5%;
}


// ------ header ------
header {
    @extend %primary-dark;
    padding: 8px 18px;
    text-align: center;
    img {
        vertical-align: middle;
    }
}

h1 {
    display: inline;
}

h2 {margin: 0;}



#loading {
    text-align: center;
}


.board-container {
    width: 100%;
    margin: 20px 0;
    padding: 6px 12px;
    @extend %primary;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    .board-bar {
        padding-bottom: 8px;
        cursor: pointer;
        * {
            vertical-align: middle;
        }
        h2 {
            display: inline;
        }
        i.arrow {
            float: right;
            transition: 0.3s;
        }
    }

    .board-details {
        display: block;
        overflow: hidden;
        transition: 0.3s ease-out;
        height: auto;
    }

}

.open {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    i.arrow {
        transform: rotate(180deg);
    }
    button.btn-hidden {
        display: inline;
        opacity: 1;
    }
}



.list-title {
    margin: 6px 0;
    padding: 4px;
    text-align: center;
    background-color: $bg;
    border: 1px solid $sd;
    border-radius: 2px;
}

.cards-container {
    padding: 1px;
    .card {
        display: block;
        margin: 4px auto;
        padding: 4px;
        background-color: $pl;
        border-radius: 4px;

        textarea {
            width: 100%;
            border: none;
            background-color: transparent;
            resize: none;
            outline: none;
        }
    }
}

.dragarea {
    padding: 0;
    border: 1px dashed $s0;
    border-radius: 4px;
}

.over-drop {
    border: 2px solid $sd;
}

button {
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    @extend %secondary;
    border-radius: 2px;

    &:disabled {
        @extend %disabled;
        cursor: default;
    }
    &:hover {@extend %secondary-light;}

    &.btn-add {
        float: right;
        position: relative;
        top: 12px;
    }

    &.btn-hidden {
        display: none;
        margin-left: 20px;
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }

    &.btn-flat {
        @extend %flat;
        outline: none;
        font-size: 0.9em;
    }

    &.btn-submit {
        display: none;
    }
    
}

// ------ footer ------
footer {
    @extend %primary-light;
    margin-top: 24px;
    font-size: 0.8em;
    text-align: center;
    padding: 4px 8px;
    .copyright {
        margin: 0;
    }
}
