@import url('https://fonts.googleapis.com/css?family=Bree+Serif&subset=latin-ext');
@import 'w3-normalize.css';
@import 'color-theme';
@import 'w3-columns';

* {
    box-sizing: border-box;
}

html {
    min-width: 300px;
}

body {
    background-color: $bg;
    font: {
        family: 'Bree Serif', 'serif';
        size: 12pt;
    }
    line-height: 1.5;
}

.wrapper {
    padding: 0 5%;
}


// ------ header ------
header {
    @extend %primary-dark;
    padding: 8px 18px;
    text-align: center;
    img {
        vertical-align: middle;
    }
}

h1 {
    display: inline;
}

h2 {margin: 0;}



#loading {
    text-align: center;
}

.board-container {
    width: 100%;
    margin: 8px 0;
    padding: 6px 12px;
    @extend %primary;

    .board-bar {
        padding-bottom: 8px; 
        cursor: pointer;
        * {
            display: inline;
            vertical-align: middle;
        }
        i.arrow {
            float: right;
            transition: 0.3s;
        }
    }

    .board-details {
        display: block;
        overflow: hidden;
        transition: 0.3s ease-out;
        height: auto;
    }

}

.open {
    i.arrow {
        transform: rotate(180deg);
    }
    button.btn-hidden {
        display: inline;
        opacity: 1;
    }
}



.status-title {
    margin: 6px 0;
    padding: 4px;
    text-align: center;
    background-color: $bg;
    border: 1px solid $sd;
}

.card {
    margin: 4px 0;
    padding: 6px;
    background-color: $pl;
    border-radius: 4px;
}

button {
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    @extend %secondary;

    &:hover {@extend %secondary-light;}

    &.btn-add {
        float: right;
        position: relative;
        top: 12px;
    }

    &.btn-hidden {
        display: none;
        margin-left: 20px;
        opacity: 0;
        transition: opacity 0.3s ease-out;
        z-index: 50;
    }
    
}

// ------ footer ------
footer {
    @extend %primary-light;
    margin-top: 24px;
    font-size: 0.8em;
    text-align: center;
    padding: 4px 8px;
    .copyright {
        margin: 0;
    }
}