$bg: #fff;
$p0: #00bbd3;
$pl: #9fd8df;
$pd: #008ba2;
$pl2: #e6fcff;
$s0: #d32f2f;
$sl: #ff6659;
$sd: #9a0007;
$fd: #000;
$fl: #fff;
$fd2: #333;
$inactive: #757575;
$error: #d50000;

%primary {color: $fd; background-color: $p0;}
%primary-light {color: $fd; background-color: $pl;}
%primary-dark {color: $fd; background-color: $pd;}
%secondary {color: $fl; background-color: $s0;}
%secondary-light {color: $fd; background-color: $sl;}
%secondary-dark {color: $fl; background-color: $sd;}
%disabled {color: $fd; background-color: $inactive;}
%flat {color: $sd; background-color: transparent;}
%flat-2 {color: $inactive; background-color: transparent;}
%hover {color: $s0; background-color: $p0;}
