$input-focus: $pd;
$input-error: $error;
$input-inactive: $inactive;

input {
    border: none;
    background-color: transparent;
    outline: none;
    color: $fd;
}

.field-wrap {
    
    input {
        width: 100%;
        padding: 24px 12px 4px;

        &::placeholder {
            color: transparent;
            opacity: 0;
        }

        &:focus, &:not(:placeholder-shown) {
            ~ label {
                transform: translateY(-26px);
                font-size: 12px;
            }
        }
        &:focus ~ label {
            color: $input-focus;
        }


        &:focus ~ .input-bar::before,
        &:focus ~ .input-bar::after {
            width: 50%;
        }

        &.inp-invalid {
            & ~ .input-bar::before,
            & ~ .input-bar::after {
                background-color: $input-error;
            }

            & ~ label {
                color: $input-error;
            }
        }
    }

    label {
        position: absolute;
        bottom: 5px;
        left: 12px;
        transition: 0.2s ease;
        pointer-events: none;
        color: $input-inactive;
    }

    .input-field{
        position: relative;

        &:hover {
            background-color: $pl2;
        }
    }

    .input-bar {
        position: relative;
        width: 100%;
        height: 1px;
        text-align: center;
        background-color: $input-inactive;
        
        &::before, &::after {
            position: absolute;
            width: 0;
            height: 2px;
            background-color: $input-focus;
            content: "";
            transition: 0.2s ease;
        }

        &::before {
            left: 50%;
        }

        &::after {
            right: 50%;
        }
    }

    .helper {
        padding: 4px 12px 8px;
    }
}


.helper {
    font-size: 12px;

}

.error {
    color: $input-error;
}


button {
    @extend %secondary;
    border: none;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    padding: 8px 16px;
    
    &:hover {
        @extend %secondary-light;
    }

    &.btn-submit {
        float: right;
    }

    &.btn-flat {
        @extend %flat;
        padding: 8px;
    }

    &.btn-flat-2 {
        @extend %flat-2;
        transition-property: background-color, color;
        transition-duration: 0.2s;

        &:hover {
            @extend %hover;
        }
    }

    &.btn-nopad {
        padding: 0;
    }
    
}